{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- App favicon -->
{#        <link rel="shortcut icon" href="assets/images/favicon.ico">#}

        <link href="{% static 'plugins/leaflet/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/lightpick/lightpick.css' %}" rel="stylesheet" />

        <!-- App css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
{#        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />#}

    <link href="{% static 'assets/css/app_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include 'main/sidebar.html' %}
<!-- jQuery  -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/metismenu.min.js' %}"></script>
        <script src="{% static 'assets/js/waves.js' %}"></script>
        <script src="{% static 'assets/js/feather.min.js' %}"></script>
        <script src="{% static 'assets/js/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/js/moment.js' %}"></script>
{#        <script src="../plugins/daterangepicker/daterangepicker.js"></script>#}
{##}
        <script src="{% static 'plugins/leaflet/leaflet.js'%}"></script>
        <script src="{% static 'plugins/lightpick/lightpick.js'%}"></script>
{#        <script src="{% static 'assets/pages/jquery.profile.init.js' %}"></script>#}

        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
</body>
</html>